.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 140px 40px 0px;
    gap: 20px;
  }
  
  .itemWrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: white;
    align-items: center;
  }
  
  .buttonWrapper {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block;
  }
  
  .addButton {
    background-color: #28a745;
    color: white;
  }
  
  .removeButton {
    background-color: #dc3545;
    color: white;
  }
  
  .button:hover {
    background-color: #007bff;
    color: white;
    transform: scale(1.05);
  }
  
  .button:active {
    background-color: #0056b3;
  }